VITE_SUPABASE_URL=https://bnetnuzxynmdftiadwef.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6jbWFa2hOX-5U6TWS_KtrQ_5JXYCRG2
VITE_APP_BASE_URL=http://localhost:5175
VITE_APP_ENV=development
VITE_AUTH_INVITE_ONLY=true
VITE_AUTH_ALLOW_SELF_SIGNUP=false
VITE_AUTH_ALLOW_MAGIC_LINK=true
